export(dbELnorm,
       returnCutoffValue,

       BayesWays,
       computePval,
       computeQhat,
       computeValue,
       getCutoffTableThree,
       getCutoffTableTwo,
       getCutoffValue,
       helperGetTstat,
       varianceEstimator)
 


import(dbEmpLikeGOF)
